@use '../abstracts' as *;;

.c-header {
    --_hamburger-size: var(--space-xl);
    --_hamburger-icon-size: var(--space-md);
    --_hamburger-alignment-offset: calc((var(--_hamburger-size) - var(--_hamburger-icon-size)) / 2 * -1);

    background: var(--surface-1);
    position: sticky;
    top: 0;
    z-index: var(--zi-sticky);
    box-shadow: 0 2px 5px var(--shadow-main);

    &__content {
        display: flex;
        align-items: center;
        gap: var(--space-sm);
        padding-block: var(--space-xs);
    }

    &__hamburger {
        margin-inline-start: var(--_hamburger-alignment-offset);
    }

    &__title {
        --heading-flow-gap-end: 0;
        font-size: var(--fs-md);
        font-weight: var(--fw-bold);
        color: var(--primary);
    } 

    .c-toolbar { 
        @include desktop {
            position: static;
            box-shadow: none;
            border: none;
            padding: 0;
            min-height: initial;
            width: auto;
            background-color: transparent;
            flex: 1;
            justify-content: flex-end;

            &__btn {
                flex: 0;
                padding-inline: var(--space-sm);
            }
        }
    }

}

