@use '../abstracts' as *;

.c-hamburger {
    width: var(--space-xl);
    height: var(--space-xl);
    border-radius: var(--radius-md);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
        width: var(--space-md);
        height: 0.875rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__bar {
        width: 100%;
        height: var(--space-micro);
        background: var(--primary);
        border-radius: var(--radius-sm);
    }
}