@use '../abstracts' as *;;

.c-toolbar {
    min-height: 56px;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--surface-1);
    box-shadow: 0 -2px 4px var(--shadow-main);
    border-block-start: thin solid var(--border-subtle);
    padding-block: var(--space-xs) var(--space-sm);
    z-index: var(--zi-sticky);

    &__btn {
        font-weight: 600;
        padding: var(--space-xs) var(--space-xxs);
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: var(--space-xxs);

        span {
            text-wrap: nowrap;
        }

    }
}
