@use '../abstracts' as *;;

.eden-c-header {
    --_action-nav-trigger-width: var(--eden-sys-action-size-base);
    --_action-nav-trigger-icon-width: var(--eden-sys-action-icon-size-base);
    --_action-nav-trigger-offset: calc((var(--_action-nav-trigger-width) - var(--_action-nav-trigger-icon-width)) / 2);

    --_title-alignment-offset: 115px;

    background: var(--eden-sys-surface-1);
    position: sticky;
    top: 0;
    z-index: var(--eden-sys-zi-sticky);
    box-shadow: 0 2px 5px var(--eden-sys-shadow);

    &__content {
        min-height: var(--eden-sys-spacing-2xl);
        display: flex;
        align-items: center;
        gap: var(--eden-sys-spacing-sm);
        padding-block: var(--eden-sys-spacing-xs);
    }

    .eden-c-hamburger {
        margin-inline-start: calc(var(--_action-nav-trigger-offset) * -1);

        @include desktop {
            display: none;
        }
    }

    .eden-c-brand {
        @include desktop {
            opacity: 0;
            transition: opacity var(--eden-sys-duration-fast) var(--eden-sys-motion-entrance);

            .has-eden-sidebar-closed & {
                opacity: 1;
            }
        }
    }

    &__title {
        --eden-sys-heading-spacing-y-end: 0;
        --_h1-font-size: var(--eden-sys-text-md);
     
        color: var(--eden-sys-primary);

        @include desktop {
            position: relative;
            left: calc(var(--_title-alignment-offset) * -1);
            transition: left var(--eden-sys-duration-fast) var(--eden-sys-motion-entrance);

            .has-eden-sidebar-closed & {
                --_title-alignment-offset: 0;
            }
        }
    }

    &__sidebar-trigger {
        display: none;

        @include desktop {
            --eden-comp-button-padding-y: 0;
            --eden-comp-button-padding-x: 0;
            --eden-comp-button-border-radius: var(--eden-sys-radius-full);

            --_action-nav-trigger-icon-width: var(--eden-sys-action-icon-size-sm);

            display: inline-flex;
            width: var(--eden-sys-spacing-xl);
            margin-inline-start: calc(var(--_action-nav-trigger-offset) * -1);
            opacity: 0;

            .has-eden-sidebar-closed & {
                opacity: 1;
            }
        }
    }

}