@use '../abstracts' as *;

.eden-c-hamburger {
    --_bg: transparent;
    --_bar-height: var(--eden-sys-spacing-4xs);

    min-height: var(--eden-sys-spacing-xl);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--eden-sys-spacing-xl);
    height: var(--eden-sys-spacing-xl);
    border-radius: var(--eden-sys-radius-full);
    background-color: var(--_bg);
    
    @include apply-motion-standard(background-color);

    @include can-hover {
        &:hover {
            --_bg: var(--eden-sys-action-color-hover);
        }
    }

    &:active {
        --_bg: var(--eden-sys-action-color-active);
        opacity: 0.7;
    }

    &__icon {
        width: var(--eden-sys-spacing-md);
        height: 0.875rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__bar {
        width: 100%;
        height: var(--_bar-height);
        background: var(--eden-sys-primary);
        border-radius: var(--eden-sys-radius-sm);
    }
}