@use '../abstracts' as *;

.eden-c-logo {
    margin: 0;
    line-height: 1;
    font-size: var(--eden-sys-fs-2xl);
    color: currentColor;
    font-weight: var(--eden-sys-fw-bold);

    &__text {
        color: inherit;
        font-size: inherit;
        line-height: inherit;
    }
}

.eden-c-logo--boxed {
    --box-inset: 0.25rem;
    padding: var(--box-inset);
    background-color: var(--eden-sys-brand);
    color: var(--eden-sys-on-brand);
}