@use '../abstracts' as *;

.eden-c-report-entry {
    --eden-l-container-padding-x: 0;

    --_parent-padding: var(--eden-sys-page-margin);
    --_header-padding: var(--eden-sys-page-margin);
    --_layout-grid-compensation: calc(var(--_parent-padding) + var(--_header-padding));

    --eden-l-container-max-width: calc(var(--eden-sys-layout-max-width) - var(--_layout-grid-compensation));

    overflow-x: auto;
    background-color: transparent;

    @media print {
        position: static !important;
        overflow: visible !important;
    }

    &__error-actions {
        display: inline-flex;
        align-items: center;
        gap: var(--eden-sys-spacing-sm);
    }
}
