@use '../abstracts' as *;

.eden-c-btn {
    --btn-bg: transparent;
    --btn-text: var(--eden-sys-on-surface);

    background: var(--btn-bg);
    color: var(--btn-text);
    border-radius: var(--eden-sys-radius-sm);
    font-size: var(--eden-sys-fs-sm);
    @include apply-motion-standard(background-color, transform, opacity);

    @include can-hover {
        &:hover {
            --btn-bg: oklch(from currentColor l c h / 6%);
        }
    }

    &:active {
        opacity: 0.7;
        @include cannot-hover {
            transform: scale(0.96);
        }
    }

    &--primary {    
        --btn-bg: var(--eden-sys-primary);
        --btn-text: var(--eden-sys-on-primary);

        transition-property: background-color;

        @include can-hover {
            --btn-bg: from(var(--btn-bg) calc(l + 0.05) c h);
        }
    }

    &--danger {
        --btn-bg: var(--eden-sys-danger-subtle);
        --btn-text: var(--eden-sys-danger);

        transition-property: background-color;

        @include can-hover {
            --btn-bg: from(var(--btn-bg) calc(l + 0.05) c h);
        }
    }
}
