@use "../abstracts" as *;

.eden-c-button {
    // Button API
    --_font-size: var(--eden-comp-button-font-size, var(--eden-sys-text-sm));
    --_font-weight: var(--eden-comp-button-font-weight, var(--eden-sys-text-semibold));
    --_padding-block: var(--eden-comp-button-padding-y, var(--eden-sys-spacing-sm));
    --_padding-inline: var(--eden-comp-button-padding-x, var(--eden-sys-spacing-md));
    --_justify-content: var(--eden-comp-button-justify-content, center);
    --_border-radius: var(--eden-comp-button-border-radius, var(--eden-sys-action-border-radius));
    --_color: var(--eden-comp-button-color, var(--eden-sys-on-surface));
    --_bg-hover: var(--eden-comp-button-bg-hover, var(--eden-sys-action-color-hover));
    --_bg-active: var(--eden-comp-button-bg-active, var(--eden-sys-action-color-active));
    --_bg: transparent;

    display: inline-flex;
    align-items: center;
    justify-content: var(--_justify-content);
    min-height: var(--eden-sys-spacing-xl);
    font-size: var(--_font-size);
    font-weight: var(--_font-weight);
    border-radius: var(--_border-radius);
    padding: var(--_padding-block) var(--_padding-inline);
    background-color: var(--_bg);
    color: var(--_color);
    @include apply-motion-standard(background-color, color, transform, opacity);

    @include can-hover {
        &:hover { --_bg: var(--_bg-hover); }
    }

    &:active {
        --_bg: var(--_bg-active);
        opacity: 0.7;
        @include cannot-hover { 
            transform: scale(0.96); 
        }
    }

    &--primary {
        --_bg: var(--eden-sys-primary);
        --_color: var(--eden-sys-on-primary);
        --_bg-hover: oklch(from var(--eden-sys-primary) calc(l + 0.1) c h);
        --_bg-active: oklch(from var(--eden-sys-primary) calc(l - 0.05) c h);
    }

    &--secondary {
        --_bg: transparent;
        --_color: var(--eden-sys-on-surface);
        --_bg-hover: oklch(from var(--eden-sys-surface-0) calc(l - 0.05) 0.04 h);
        border: 1px solid var(--eden-sys-primary);
    }

    &--danger {
        --_bg: var(--eden-sys-danger);
        --_color: var(--eden-sys-on-danger);
        --_bg-hover: oklch(from var(--eden-sys-danger) calc(l + 0.1) c h); 
        --_bg-active: oklch(from var(--eden-sys-danger) calc(l - 0.05) c h);
    }

    &--stack {
        flex-direction: column;
        gap: var(--eden-sys-spacing-xxs);

        .eden-c-button__label {
            white-space: nowrap;
        }
    }
}
