@use '../abstracts' as *;

.eden-c-report-entry {
    --eden-l-container-inset-inline-custom: 0;

    --_parent-padding: var(--eden-sys-page-gutter);
    --_header-inner-padding: var(--eden-sys-page-gutter);
    --_layout-grid-compensation: calc(var(--_parent-padding) + var(--_header-inner-padding));

    --eden-l-container-max-width-custom: calc(var(--eden-sys-layout-max-width) - var(--_layout-grid-compensation));

    overflow-x: auto;
    background-color: transparent;
}

.eden-c-report-entry__error-text {
    margin-block-end: var(--eden-sys-p-flow-gap-block);
}

.eden-c-report-entry__error-actions {
    display: inline-flex;
    align-items: center;
    gap: var(--eden-sys-space-sm);
}
