@use '../abstracts' as *;;

.eden-c-header {
    --_hamburger-size: var(--eden-sys-spacing-xl);
    --_hamburger-icon-size: var(--eden-sys-spacing-md);
    --_hamburger-alignment-offset: calc((var(--_hamburger-size) - var(--_hamburger-icon-size)) / 2 * -1);

    --_sidebar-trigger-size: var(--eden-sys-spacing-xl);
    --_sidebar-trigger-icon-size: 1.25rem; // 20px;
    --_sidebar-trigger-alignment-offset: calc((var(--_sidebar-trigger-size) - var(--_sidebar-trigger-icon-size)) / 2 * -1);

    background: var(--eden-sys-surface-1);
    position: sticky;
    top: 0;
    z-index: var(--eden-sys-zi-sticky);
    box-shadow: 0 2px 5px var(--eden-sys-shadow);

    &__content {
        min-height: 64px;
        display: flex;
        align-items: center;
        gap: var(--eden-sys-spacing-sm);
        padding-block: var(--eden-sys-spacing-xs);
    }

    .eden-c-hamburger {
        margin-inline-start: var(--_hamburger-alignment-offset);

        @include desktop {
            display: none;
        }
    }

    .eden-c-brand {
        @include desktop {
            opacity: 0;
            transition: opacity var(--eden-sys-duration-fast) var(--eden-sys-motion-entrance);

            .has-eden-sidebar-closed & {
                opacity: 1;
            }
        }
    }

    &__title {
        --eden-sys-heading-spacing-y-end: 0;
        --_h1-font-size: var(--eden-sys-text-md);
     
        color: var(--eden-sys-primary);

        @include desktop {
            position: relative;
            left: -110px;
            transition: left var(--eden-sys-duration-fast) var(--eden-sys-motion-entrance);

            .has-eden-sidebar-closed & {
                left: 0;
            }
        }
    }

    &__sidebar-trigger {
        display: none;

        @include desktop {
            --eden-comp-button-padding-y: 0;
            --eden-comp-button-padding-x: 0;
            --eden-comp-button-border-radius: var(--eden-sys-radius-full);

            display: inline-flex;
            width: var(--eden-sys-spacing-xl);
            margin-inline-start: var(--_sidebar-trigger-alignment-offset);
            opacity: 0;

            .has-eden-sidebar-closed & {
                opacity: 1;
            }
        }
    }

}