@use '../abstracts' as *;

.eden-c-brand {
    --_padding: var(--eden-sys-spacing-md);

    display: flex;
    align-items: center;
    gap: var(--eden-sys-spacing-sm);
    padding: var(--_padding);

    &--compact {
        --_padding: var(--eden-sys-spacing-micro-plus);

        background-color: var(--eden-sys-brand);
        color: var(--eden-sys-on-brand);
    }

    &__icon {
        stroke-width: 0;
    }

    &__title {
        margin: 0;
        font-size: var(--eden-sys-text-2xl);
        line-height: 1;
        color: currentColor;
        font-weight: var(--eden-sys-text-bold);
    }

    &__description {
        font-size: var(--eden-sys-text-xxs);
        opacity: 0.7;
    }
}
