@use "../abstracts/" as *;

.eden-c-sidebar {
    --eden-comp-button-color: var(--eden-sys-on-primary-variant);
    --eden-comp-button-bg-hover: oklch(from currentColor l c h / 10%);
    --eden-comp-button-bg-active: oklch(from currentColor l c h / 6%);

    // Private tokens
    --_width: 280px;
    --_translate-x: -100%;
    --_bg-default: var(--eden-sys-primary);
    --_bg-sunken: oklch(from var(--_bg-default) calc(l - .03) c h);

    --_scrollbar-track-color: oklch(from var(--_bg-default) 0.25 0.05 h);
    --_scrollbar-thumb-color: oklch(from var(--_bg-default) 0.55 0.12 h);
    --_scrollbar-thumb-color-hover: oklch(from var(--_bg-default) 0.60 0.15 h);

    --_action-close-alignment-offset-y: 11px;
    --_action-close-alignment-offset-x: 7.5px;
    
    @include desktop {
        --_action-close-alignment-offset-x: 2.5px;
    }

      @media print {
        display: none !important;
    }

    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    z-index: var(--eden-sys-zi-modal);
    width: var(--_width);
    height: 100vh;
    background-color: var(--_bg-default);
    color: var(--eden-sys-on-primary);
    transform: translateX(var(--_translate-x));
    transition: transform var(--eden-sys-duration-slow) var(--eden-sys-motion-fluid);

    @include desktop {
        --_translate-x: 0;
        position: sticky;
        top: 0;
    }

    .has-eden-sidebar-open & {
        --_translate-x: 0;
    }

    .has-eden-sidebar-closed & { 
        @include desktop {
            --_translate-x: -100%;
        }
    }

    .eden-c-button {
        @include can-hover {
            &:hover {
                --eden-comp-button-color: var(--eden-sys-on-primary);
            }
        }
    }

    &__action-close {
        --eden-comp-button-padding-y: 0;
        --eden-comp-button-padding-x: 0;
        --eden-comp-button-border-radius: var(--eden-sys-radius-full);

        position: absolute;
        right: var(--_action-close-alignment-offset-x);
        top: var(--_action-close-alignment-offset-y);
        width: var(--eden-sys-spacing-xl);
        opacity: 0.7;

        @include can-hover {
            &:hover {
                opacity: 1;
            }
        }
    }

    &__nav {
        height: 100%;
        overflow-y: auto;

        @include desktop {
            &::-webkit-scrollbar {
                width: var(--eden-sys-spacing-sm);
            }

            &::-webkit-scrollbar-track {
                background-color: var(--_scrollbar-track-color);
                border-radius: var(--eden-sys-radius-lg);
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--_scrollbar-thumb-color);
                border-radius: var(--eden-sys-radius-xl);
                border: 2px solid var(--_scrollbar-track-color);
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: var(--_scrollbar-thumb-color-hover);
            }
        }
    }

    &__accordion-header {
        --eden-comp-button-font-size: 0.7rem;
        --eden-comp-button-justify-content: space-between;

        width: 100%;
        border-block-start: thin solid oklch(from currentColor l c h / 5%);
    }

    &__accordion-body {
        max-height: 0;
        overflow: hidden;
        background-color: var(--_bg-sunken);
        transition: max-height var(--eden-sys-duration-slow) var(--eden-sys-motion-fluid);
    }

    &__item {
        --eden-comp-button-font-size: var(--eden-sys-text-xs);
        --eden-comp-button-font-weight: var(--eden-sys-text-regular);
        --eden-comp-button-color: oklch(from var(--eden-sys-on-primary-variant) 0.75 c h);
        --eden-comp-button-justify-content: flex-start;
        --eden-comp-button-padding-x: var(--eden-sys-spacing-lg);

        width: 100%;
    }

    &__accordion {
        &:last-of-type {
            border-block-end: thin solid oklch(from currentColor l c h / 5%);

            &.is-open {
                .eden-c-sidebar__accordion-body {
                    padding-bottom: var(--eden-sys-spacing-xl);
                }
            }
        }

        &.is-open {
            .eden-c-sidebar__accordion-body {
                max-height: 1000px;
            }

            .eden-c-sidebar__accordion-header {
                --eden-comp-button-color: var(--eden-sys-on-primary);
            }

            .eden-c-sidebar__chevron {
                transform: rotate(90deg);
            }
        }
    }
}