@use '../abstracts' as *;

@page page-portrait {
    size: A4 portrait;
    margin: 0.5cm;
}

@page page-landscape {
    size: A4 landscape;
    margin: 0.5cm;
}

.tes-c-sheet {
    --_width: var(--tes-comp-sheet-width, 100%);
    --_font-size: var(--tes-comp-sheet-font-size, var(--eden-sys-text-xs));

    width: var(--_width);
    min-height: 100vh;
    font-size: var(--_font-size);
    background-color: var(--eden-sys-surface-1);
    padding: var(--eden-sys-page-margin);

    @media print {
        width: 100% !important;
        padding: 0 !important;
    }

    &--portrait {
        page: page-portrait;
    }

    &--landscape {
        page: page-landscape;
        page-break-inside: avoid;
    }
}
