@use '../abstracts' as *;

.tes-c-table {
    margin-block-start: var(--eden-sys-spacing-xs);

    th, td {
        --_cell-accent-bg: var(--eden-comp-table-cell-bg, #{ $eden-ref-neutral-0 });
        --_cell-accent-text: var(--eden-comp-table-cell-text, var(--eden-sys-on-primary));
        --_cell-justify: center;;

        padding: 0;
        display: flex;
        align-items: center;
        justify-content: var(--_cell-justify);
        border: 1px solid var(--eden-sys-border-color-default);
        overflow: hidden;

        &.--row-label {
            --_cell-justify: flex-start;
            padding-inline-start: var(--eden-sys-spacing-3xs);
        }

        &.--align-left {
            --_cell-justify: flex-start;
        }

        &.--borderless {
            border: none;
        }

        &.--dark {
            background-color: var(--_cell-accent-bg);
            color: var(--_cell-accent-text);
            font-weight: var(--eden-sys-text-bold);
        }
    }

    input {
        width: 100%;
        height: 100%;
        padding: 0 var(--eden-sys-spacing-2xs);
        border: none;
        text-align: center;

        &:focus {
            outline: 2px solid var(--eden-sys-link-color);
        }
    }
}