@use '../abstracts' as *;

.eden-u-hide-on-mobile {
    display: none;

    @include desktop {
        display: initial;
    }
}

.eden-u-hide-on-desktop {
    display: initial;

    @include desktop {
        display: none;
    }
}

.eden-u-border-bottom-subtle {
    border-bottom: 1px solid oklch(from currentColor l c h / 20%)
}
