@use '../abstracts/tokens' as *;
@use '../abstracts/mixins' as *;

h1, h2, h3, h4 {
    line-height: var(--lh-sm);
    margin-block: var(--heading-flow-gap-start) var(--heading-flow-gap-end);
    font-weight: var(--fw-bold);
}

h1 {
    --heading-flow-gap-start: 0;
    font-size: var(--fs-2xl);
}

h2 {
  font-size: var(--fs-xl);
}

h3 {
  font-size: var(--fs-lg);
}

h4 {
  font-size: var(--fs-md);
}

article p {
    margin-block-end: var(--p-flow-gap-block);
}

article ul, 
article ol {
    margin-block-end: var(--list-flow-gap-block);
    margin-inline-start: var(--page-gutter);

    li:not(li:last-of-type) {
        margin-block-end: var(--list-item-flow-gap-block);
    }

    li {
        ul, ol {
            margin-top: var(--list-item-flow-gap-block);
            margin-left: calc(var(--page-gutter) + var(--space-xxs));
        }
    }
}

article ul {
    list-style: disc;
}

article ol {
    list-style: decimal;
}

strong, b {
    font-weight: var(--fw-bold);
}