@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (max-width: 1023px) {
        @content;
    }
}

@mixin mouse-only {
    @media ((hover: hover)) {
        @content;
    }
}

@mixin touch-only {
    @media ((hover: none)) {
        @content;
    }
}
@mixin container {
    width: 100%;
    max-width: var(--layout-max-width);
    margin-inline: auto;
    padding-inline: var(--page-gutter);

    @media screen and (min-width: 1445px) {
        padding: 0;
    }
}