@use 'sass:list';
@use 'tokens' as *;

// Media Queries
@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 1023px) {
        @content;
    }
}

@mixin can-hover {
    @media (hover: hover) {
        @content;
    }
}

@mixin cannot-hover {
    @media (hover: none) {
        @content;
    }
}

// Interaction States
@mixin apply-motion-standard($properties...) {
    $transition-list: ();

    @each $property in $properties {
        $transition-list: list.append($transition-list, $property var(--duration-standard) var(--motion-interaction), $separator: comma);
    }

    transition: $transition-list;

    &:active {
        transition-duration: var(--duration-instant);
    }
}


