@use 'sass:math';
//  ------------------------------------------------------------
//  1. PRIMITIVE TOKENS (SASS)
//  ------------------------------------------------------------ 
$primary-hue: var(--primary-h);

// 1.3 Achromatic Tokens (Chroma 0) - optimized for print
$neutral-0: oklch(0% 0 0);
$neutral-40: oklch(40% 0 0);
$neutral-80: oklch(80% 0 0);
$neutral-100: oklch(100% 0 0);

// 1.4 Neutral Low and Mid Saturation
$neutral-98-01: #{oklch(98% 0.01 $primary-hue)};
$neutral-95-01: #{oklch(95% 0.01 $primary-hue)};
$neutral-88-02: #{oklch(88% 0.02 $primary-hue)};
$neutral-75-03: #{oklch(75% 0.03 $primary-hue)};
$neutral-60-02: #{oklch(60% 0.02 $primary-hue)};
$neutral-45-02: #{oklch(45% 0.02 $primary-hue)};
$neutral-30-03: #{oklch(30% 0.03 $primary-hue)};

//  ------------------------------------------------------------
//  SEMANTIC TOKENS (CSS)
//  ------------------------------------------------------------
:root {
    // Fallback
    --primary: #073e61;
    --on-primary: #f3f9ff;
    --surface-0: #e9eff5;
    --on-surface: #21303c;
    --danger: #ea0000;
    --success: #40963e;
    --warning: #ffba00;
    --shadow-main: rgb(0 4 8 / 10%);
    --border-main: #cdd9e4;
    --favicon-svg: #25984d;

    // Brand 
    --brand: var(--primary);
    --on-brand: var(--on-primary);

    @supports(color: oklch(0% 0 0)) {
        // Seeds
        --primary-h: 243;

        // Primary tokens
        --primary: oklch(35% 0.08 var(--primary-h));
        --on-primary: #{$neutral-98-01};
        --on-primary-variant: #{$neutral-88-02};
        --on-primary-subtle: #{$neutral-75-03};
        --border-on-primary: oklch(from var(--on-primary) l c h / 0.2);
        
        // Surfaces
        --surface-0: #{$neutral-95-01};
        --surface-1: #{$neutral-100};
        --on-surface: #{$neutral-30-03};
        --on-surface-variant: #{$neutral-45-02};
        --on-surface-subtle: #{$neutral-60-02};

        // Status and Feedback
        --danger: oklch(56% 0.27 25);
        --danger-subtle: oklch(from var(--danger) 0.94 0.05 h);
        --success: oklch(60% 0.15 143);
        --success-subtle: oklch(from var(--success) 0.94 0.05 h);
        --warning: oklch(83% 0.19 84);
        --warning-subtle: oklch(from var(--warning) 0.94 0.05 h);
        --on-warning: oklch(from var(--warning) 0.25 0.08 h);

        // Layout and UI
        --link-main: oklch(60% 0.27 var(--primary-h));
        --shadow-main: oklch(10% 0.02 var(--primary-h) / 0.1);
        --border-main: #{$neutral-88-02};
        --border-subtle: #{$neutral-95-01};
    }

    // Spacing Scale
    --_fs-base: 1rem;
    --_lh-base: 1.5;
    --_space-base: calc(var(--_fs-base) * var(--_lh-base));
    
    --space-micro: 0.125rem;
    --space-xxs: calc(var(--_space-base) / 4); // 6px;
    --space-xs: calc(var(--_space-base) / 3); // 8px;
    --space-sm: calc(var(--_space-base) / 2); // 12px;
    --space-md: var(--_space-base); // 24px;
    --space-lg: calc(var(--_space-base) * 1.5); // 36px
    --space-xl: calc(var(--_space-base) * 2); // 48px;

    // Typography (fs = font-size, fw = font-weight, lh = line-height);
    // > Font Size
    --_fs-step: 0.125rem; // 2px;

    --fs-xxs: 0.6875rem; // 11px;
    --fs-xs: calc(var(--_fs-base) - var(--_fs-step) * 2); // 12px;
    --fs-sm: calc(var(--_fs-base) - var(--_fs-step)); // 14px;
    --fs-md: var(--_fs-base); // 16px;
    --fs-lg: calc(var(--_fs-base) + var(--_fs-step) * 1); // 18px;
    --fs-xl: calc(var(--_fs-base) + var(--_fs-step) * 2); // 20px;
    --fs-2xl: calc(var(--_fs-base) + var(--_fs-step) * 3); // 22px;
    --fs-3xl: calc(var(--_fs-base) + var(--_fs-step) * 4); // 24px;

    // > Font Weight
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;

    // > Line Height
    --lh-sm: 1.25;
    --lh-md: var(--_lh-base);

    // Border-radius
    --_radius-step: 4px;

    --radius-sm: var(--_radius-step);
    --radius-md: calc(var(--_radius-step) * 2);
    --radius-lg: calc(var(--_radius-step) * 3);
    --radius-xl: calc(var(--_radius-step) * 4);
    --radius-full: 99999px;

    // Layout
    --layout-max-width: 1440px;
    --page-gutter: 1rem; // 16px

    // Layout flow
    --heading-flow-gap-start: var(--space-lg);
    --heading-flow-gap-end: var(--space-sm);
    --p-flow-gap-block: var(--space-md);
    --list-flow-gap-block: var(--space-md);
    --list-item-flow-gap-block: var(--space-sm);
    --figure-flow-gap-start: var(--space-xl);
    --figure-flow-gap-end: var(--space-xl);
    --figure-caption-gap: var(--space-xs);

    // Easings and Timing
    --motion-main: ease;
    --motion-interaction: ease-out;
    --motion-entrance: ease-out;
    --motion-exit: ease-in;
    --motion-fluid: ease-in-out;
    --duration-instant: 50ms;
    --duration-fast: 100ms;
    --duration-standard: 200ms;
    --duration-slow: 300ms;

    // Z-index
    --_zi-step: 100;
    --zi-base: 0;
    --zi-sticky: calc(var(--_zi-step) * 1);
    --zi-dropdown: calc(var(--_zi-step) * 2);
    --zi-overlay: calc(var(--_zi-step) * 3);
    --zi-modal: calc(var(--_zi-step) * 4);
    --zi-popover: calc(var(--_zi-step) * 5);
    --zi-toast: calc(var(--_zi-step) * 6);
}

@media screen and (min-width: 1024px) {
    :root {
        --page-gutter: var(--space-md);
        --duration-fast: 150ms;
        --duration-standard: 250ms;
        --duration-slow: 400ms;
    }
}
 
@media (prefers-reduced-motion: reduce) {
    :root {
        --motion-main: linear;
        --motion-interaction: linear;
        --motion-entrance: linear;
        --motion-exit: linear;
        --duration-fast: 50ms;
        --duration-standard: 100ms;
        --duration-slow: 150ms;
    }
}