@use '../abstracts' as *;

.eden-l-container {
    width: 100%;
    max-width: var(--eden-sys-layout-max-width);
    margin-inline-end: auto;
    padding-inline: var(--eden-sys-page-gutter);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    @include desktop {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "sidebar header" "sidebar main" "sidebar footer";
        transition: grid-template-columns var(--eden-g-duration-slow) var(--eden-g-motion-fluid);

        &.is-sidebar-closed {
            grid-template-columns: 0 1fr;
        }
    }
}

.eden-c-header {
    @include desktop {
        grid-area: header;
    }
}

.eden-c-sidebar {
    @include desktop {
        grid-area: sidebar;
    }
}