@use '../abstracts' as *;

.eden-l-container {
    width: 100%;
    max-width: var(--eden-sys-layout-max-width);
    margin-inline: auto;
    padding-inline: var(--eden-sys-page-gutter);

    @media screen and (min-width: 1445px) {
        padding: 0;
    }
}