@use '../../abstracts' as *;

.eden-c-content-area {
    --eden-l-container-padding-x: 0;

    overflow-x: auto;
    background-color: transparent;

    &__error-actions {
        display: inline-flex;
        align-items: center;
        gap: var(--eden-sys-space-300);
    }
}
