.eden-c-icon {
    --_size: var(--eden-sys-action-icon-size-base);

    width: var(--_size);
    height: var(--_size);
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;

    &--small {
        --_size: var(--eden-sys-action-icon-size-sm); // 20px;
    }

    &--large {
        --_size: 2rem; // 32px;
    } 
}