@use '../../abstracts' as *;

input,
textarea {
    --_input-font-size: var(--eden-comp-input-font-size, var(--eden-sys-font-size-200));

    font: inherit;
    color: inherit;
    letter-spacing: inherit;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    outline: 0;
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: inherit;
    cursor: text;
}

input {
    --_input-bg-focus: greenyellow;
    --_input-readonly-bg: var(--eden-sys-surface);
    --_input-height: var(--eden-sys-space-500);

    width: 100%;
    height: var(--_input-height);
    background-color: var(--eden-sys-surface-100);
    border-bottom: 1px solid var(--eden-sys-border-color);
    color: var(--eden-sys-surface-content);
    font-size: var(--_input-font-size);

    &:not([readonly]):focus {
        border-bottom: 2px solid var(--eden-sys-primary);
        background-color: var(--_input-bg-focus);
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        appearance: none;
        margin: 0
    }

    &::-moz-list-bullet {
        display: none !important;
    }

    &:not([type=date])::-webkit-calendar-picker-indicator {
        display: none !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
    }

    &[type=number] {
        text-align: center;
        border-block: 2px solid transparent;
    }

    &[type=text],
    &[type=date] {
        font-weight: var(--eden-sys-font-weight-bold);
    }

    &[readonly] {
        font-weight: var(--eden-sys-font-weight-bold);
        background-color: var(--_input-readonly-bg);
        cursor: default;
    }
}

textarea {
    resize: vertical;
    min-height: 3em;
    font-size: var(--_input-font-size);;
}