@use '../../abstracts' as *;

.eden-c-table {
    --eden-table-cell-height: var(--eden-sys-space-600);
    --eden-table-margin-top: var(--eden-sys-space-200);
    --eden-table-margin-bottom: 0;

    --_toned-child-bg: #dbe3e6;
    --_toned-child-bg: oklch(0.93 0.005 var(--eden-ref-primary-hue));
    --_cell-na-bg: #9b9e9f;
    --_cell-na-bg: oklch(0.65 0.01 var(--eden-ref-primary-hue));

    width: max-content;

    thead,
    tbody th:not([scope="row"], [scope="rowgroup"]) {
        --_toned-child-bg: #cccccc;
        --_toned-child-bg: oklch(0.86 0.01 var(--eden-ref-primary-hue));
    }

    tbody {
        td {
            --eden-table-cell-padding-y: 0;
            --eden-table-cell-padding-x: 0;
        }

        th[scope="row"]:not(:first-child) {
            text-align: left;
        }
    }

    &__row--toned,
    &__cell--toned {
        background-color: var(--_toned-child-bg);
    }

    &__row--print-toned,
    &__cell--print-toned {
        background-color: transparent;

        @media print {
            background-color: var(--_toned-child-bg);
        }
    }

    &__cell--sticky-left {
        @include tablet {
            position: sticky;
            left: 0;
            z-index: calc(var(--eden-sys-zi-sticky) - 1);
            background-color: var(--eden-sys-surface-100);
            border-inline: 1px solid var(--eden-sys-border-color);
        }
    }

    &__cell--na {
        background-color: var(--_cell-na-bg);
        border-inline-start-color: var(--_cell-na-bg);
    }

    &__thead-spacer,
    &__tfoot-spacer {
        display: none;
    }

    input[readonly] {
        font-weight: var(--eden-sys-font-weight-bold);
    }


    @media print {
        --_cell-na-bg: var(--eden-sys-primary);
        page-break-inside: auto;

        th,
        td {
            white-space: nowrap;
            overflow: hidden;
        }

        &__thead-spacer,
        &__tfoot-spacer {
            display: table-row;

            th,
            td {
                border: none;
            }
        }

        &__thead-spacer {
            height: var(--eden-sys-thead-spacer-height);
        }

        &__tfoot-spacer {
            height: var(--eden-sys-tfoot-spacer-height);
        }
    }
}