@use '../../abstracts' as *;

.eden-c-table {
    --eden-table-cell-height: var(--eden-sys-space-600);
    --eden-table-cell-padding-y: 0;
    --eden-table-margin-top: var(--eden-sys-space-200);
    --eden-table-margin-bottom: var(--eden-sys-space-300);

    tbody td {
        --eden-table-cell-padding-x: 0;
    }

    tbody th[scope="row"]:not(:first-child) {
        text-align: left;
    }

    input[readonly] {
        font-weight: var(--eden-sys-font-weight-bold);;
    }

    &__thead-spacer,
    &__tfoot-spacer {
        display: none;

        @media print {
            display: table-row;
            th, td {
                border: none;
            }
        }
    }

    &__thead-spacer {
        height: var(--eden-sys-thead-spacer-height);
    }

    &__tfoot-spacer {
        height: var(--eden-sys-tfoot-spacer-height); 
    }

    &__cell--sticky-left {
        @include tablet {
            position: sticky;
            left: 0;
            background-color: var(--eden-sys-surface-100);
            z-index: calc(var(--eden-sys-zi-sticky) - 1);
            border-inline: 1px solid var(--eden-sys-border-color);
        }
    }

}
