@use '../../abstracts' as *;

@page page-portrait {
    size: A4 portrait;
    margin: var(--eden-sys-page-margin-top) var(--eden-sys-page-margin-right) var(--eden-sys-page-margin-bottom) var(--eden-sys-page-margin-portrait-left);
}

@page page-landscape {
    size: A4 landscape;
    margin: var(--eden-sys-page-margin-top) var(--eden-sys-page-margin-right) var(--eden-sys-page-margin-bottom) var(--eden-sys-page-margin-landscape-left);
}

@page pagination {
    @bottom-center {
        content: "Página " counter(page) " de " counter(pages);
        font-family: Arial, sans-serif;
        font-size: var(--eden-sys-font-size-050);
        color: var(--eden-sys-surface-content);
        vertical-align: top;
    }
}

.eden-c-page {
    width: var(--eden-sys-page-width);
    min-height: 100vh;
    font-size: var(--eden-page-font-size, var(--eden-sys-font-size-100));
    background-color: var(--eden-sys-surface-100);
    padding-inline: var(--eden-page-padding-x, var(--eden-sys-space-500));
    padding-block: var(--eden-page-padding-y, var(--eden-sys-space-500));
    ;

    @media print {
        width: 100% !important;
        max-width: var(--eden-sys-page-width) !important;
        padding: 0 !important;
        margin-right: auto !important;
        margin-left: auto !important;
        padding-top: var(--eden-sys-page-content-offset-top) !important;

        &--portrait {
            page: page-portrait;
        }

        &--landscape {
            page: page-landscape;
        }

        &--has-pagination {
            page: pagination;
        }
    }

    &--article {
        width: 100%;
        max-width: 800px;
        font-size: var(--eden-sys-font-size-300) !important;
    }

    &__last-update {
        font-size: var(--eden-sys-font-size-100);
        font-style: italic;
        color: var(--eden-sys-surface-content-100);
    }

    &__disclaimer {
        background-color: oklch(98% 0.02 var(--eden-ref-warning-hue));
        border: 1px solid var(--eden-sys-warning);
        padding: var(--eden-sys-space-500);
        padding-inline-start: calc(var(--eden-sys-space-600) + var(--eden-sys-space-100));
        border-radius: var(--eden-sys-radius-200);
    }
}

.eden-c-page-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    visibility: hidden;

    display: flex;
    justify-content: space-between;
    border-top: 0.5pt solid var(--eden-sys-surface-content-100);
    padding-top: 4px;

    font-family: Arial, sans-serif;
    font-size: var(--eden-sys-font-size-050);
    color: var(--eden-sys-surface-content-100);
    white-space: nowrap;

    &--fixed {
        position: fixed
    }

    @media print {
        visibility: visible;
        white-space: normal;
    }
}