@use '../../abstracts' as *;

.tes-consultas {
    --eden-sheet-width: 1352px;

    --_thead-separator-size: 4px;
    --_thead-separator-color: var(--eden-sys-primary);

    @media print {
        --_thead-separator-size: 8px;
    }

    .eden-c-table {
        --eden-table-cell-padding-x: var(--eden-sys-space-100);

        @media print {
            --eden-table-cell-height: var(--eden-sys-space-500);
        }

    }

    &__header {
        display: grid;
        grid-template-columns: 338px 750px 1fr;
        grid-column-gap: var(--eden-sys-space-400);

        @media print {
            margin-bottom: calc(var(--eden-sys-thead-spacer-height) * -1);
        }
    }

    &__title {
        display: flex;
        align-items: flex-end;
        gap: var(--eden-sys-space-150);

        h1 {
            font-size: var(--eden-sys-font-size-600);
            line-height: var(--eden-sys-line-height-flat);
            white-space: nowrap;
        }

        input {
            font-size: var(--eden-sys-font-size-600);
            flex-grow: 1;
        }
    }

    &__model-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__model {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block-start: var(--eden-sys-space-150);
    }

    &__model-code {
        font-size: var(--eden-sys-font-size-200);
        font-weight: var(--eden-sys-font-weight-bold);
        white-space: nowrap;
    }

    &__serial {
        font-size: var(--eden-sys-font-size-300);
        font-weight: var(--eden-sys-font-weight-bold);
        font-family: 'Courier New', Courier, monospace;
        color: var(--eden-sys-danger);
        text-align: center;
        border-bottom: thin dotted var(--eden-sys-border-color);

        @media print {
            border: none;
        }
    }

    &__month-container {
        display: flex;
        align-items: center;
        padding-inline-end: var(--eden-sys-space-200);
    }

    &__head {
        border-block-end: var(--_thead-separator-size) solid var(--_thead-separator-color);

        @media print {
            border-block-end: none;

            tr:last-child {

                --eden-table-cell-height: calc(var(--eden-sys-space-500) + var(--_thead-separator-size));

                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: var(--_thead-separator-size);
                    background-color: var(--_thead-separator-color);
                }
            }
        }
    }

    &__body th:first-child,
    &__col-numbers th {
        background-color: var(--eden-sys-primary);
        color: var(--eden-sys-primary-content);
    }

    &__body tr {
        th:first-child {
            border-block-color: var(--eden-sys-border-color-muted);
        }

        &:last-child th:first-child {
            border-block-end-color: var(--eden-sys-primary);
        }
    }

    &__col-numbers th {
        border-inline-color: var(--eden-sys-border-color-muted);

        &:first-of-type {
            border-inline-start-color: var(--eden-sys-primary);
        }

        &:last-child {
            border-inline-end-color: var(--eden-sys-primary);
        }
    }
}