@use '../../abstracts' as *;

.tes-consultas {
    --tes-comp-sheet-width: 1352px;
    --_cell-width: 50px;
    --_cell-height: var(--eden-sys-space-500);
    --_form-sidebar-width: 114px;
    --_border-section-divider-color: #{$eden-ref-neutral-0};

    &__header {
        display: grid;
        grid-template-columns: 254px 835px 183px;
        gap: var(--eden-sys-space-400);
    }

    &__title {
        justify-self: end;
        display: flex;
        align-items: flex-end;
        gap: var(--eden-sys-space-150);
    }

    &__title-header {
        font-size: var(--eden-sys-font-size-600);
        white-space: nowrap;
        line-height: var(--eden-sys-line-height-flat);
    }

    &__title-input {
        --eden-comp-input-font-size: var(--eden-sys-font-size-400);

        width: 322px;
        border-bottom: 1px solid var(--eden-sys-border-color-default);
        line-height: var(--eden-sys-line-height-flat);
    }

    &__model-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__model {
        flex: 1;
        display: flex;
        align-items: center;
        padding-block-start: var(--eden-sys-space-150);
    }

    &__model-code {
        font-size: var(--eden-sys-font-size-200);
        font-weight: var(--eden-sys-font-weight-bold);
    }
    
    &__serial {
        font-size: var(--eden-sys-font-size-500);
        font-weight: var(--eden-sys-font-weight-bold);
        font-family: 'Courier New', Courier, monospace;
        color: var(--eden-sys-danger);
        text-align: center;
        border-bottom: thin dotted var(--eden-sys-border-color-default);
    }

    &__head {
        display: grid;
        grid-template-columns: 240px repeat(19, var(--_cell-width));
        grid-template-rows: repeat(3, var(--_cell-height));
        text-align: center;
        margin-inline-start: var(--_form-sidebar-width);

        tr th:nth-child(n+2) {
            font-weight: var(--eden-sys-font-weight-bold);
        }
    }

    &__body {
        border-top: 12px solid var(--_border-section-divider-color);
        display: grid;
        grid-template-columns: 24px 90px 80px 160px repeat(19, var(--_cell-width));
        grid-template-rows: repeat(53, var(--_cell-height));
    }

    th, td {
        @include tablet {
            &.--row-label {
                position: sticky;
                left: 0;
                background-color: var(--eden-sys-surface-100);
                z-index: calc(var(--eden-sys-zi-sticky) - 1);
                border-inline-start: 1px solid var(--eden-sys-border-color-default);
            }
        }
    }
}

