@use '../../abstracts/' as *;

.tes-pnct {
    --eden-sys-figure-spacing-y-start: 0;
    --eden-sys-figure-spacing-y-end: 0;

    --_header-bg: #cccccc;
    --_header-bg: oklch(0.86 0.01 var(--eden-ref-primary-hue));

    --_default-cell-width: 65px;
    --_model-font-weight: var(--eden-sys-font-weight-regular);
    --_content-font-size: var(--eden-sys-font-size-100);
    --_line-height-print: 1.4;

    font-size: var(--_content-font-size);

    &--07 {
        table {
            --eden-table-cell-height: 28px;
        }
    }

    &--ic-10a {
        thead {
            th {
                font-weight: var(--eden-sys-font-weight-regular);
            }
        }
    }

    &--r05 {
        thead {
            --eden-table-cell-padding-x: 0;

            th,
            span {
                font-weight: var(--eden-sys-font-weight-regular) !important;
            }
        }
    }

    &--r06 {

        table {
            --eden-table-cell-height: 50px;
            max-width: var(--eden-sys-page-content-max-width);
        }
    }

    &--r07 {
        --eden-sys-page-content-offset-top: 0;

        table {
            --eden-table-cell-height: 26px;
        }

        thead {
            --eden-table-cell-padding-x: 0;
        }
    }

    &--08 {
        .tes-pnct__vertical-text {
            min-height: 157.5px;
            text-align: left;

            @media print {
                font-weight: var(--eden-sys-font-weight-regular);
            }
        }
    }

    table {
        --eden-table-margin-top: 0;

        thead th {
            --eden-table-cell-height: 26px;
        }

        tbody th[scope="row"] {
            --eden-table-cell-padding-y: var(--eden-sys-space-100);
            text-align: left;
        }
    }

    th,
    td,
    input,
    select,
    label,
    span,
    p {
        font-size: inherit;
    }

    &__header-row {
        display: grid;
        grid-template-columns: 1fr 350px 1fr;
        align-items: center;
        border: 1px solid var(--eden-sys-border-color);
        border-bottom: none;

        &--no-grid {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__program-info {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: var(--eden-sys-font-weight-bold);
        font-size: var(--eden-sys-font-size-200);
        padding: var(--eden-sys-space-400);
        border-inline: 1px solid var(--eden-sys-border-color);

        p {
            --eden-sys-paragraph-spacing-y: 0;

            text-align: center;
            line-height: var(--eden-sys-line-height-heading);
        }
    }

    &__logo {
        --eden-sys-figure-spacing-y-start: var(--eden-sys-space-200);
        --eden-sys-figure-spacing-y-end: 0;
        margin-inline: auto;
    }

    &__title {
        width: 100%;
        text-align: center;
        background-color: #{$eden-ref-neutral-0};
        color: #{$eden-ref-neutral-100};
        padding: var(--eden-sys-space-150);
        font-size: var(--eden-sys-font-size-300);
        font-weight: var(--eden-sys-font-weight-bold);
        text-transform: uppercase;
        margin: 0;

        &--spaced {
            margin-block-end: var(--eden-sys-space-150);
        }
    }

    &__meta-grid {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: var(--eden-sys-space-200);
    }

    &__model {
        text-align: center;
        background-color: var(--_header-bg);
        font-weight: var(--_model-font-weight);
        padding: var(--eden-sys-space-150);

        @media print {
            font-size: var(--eden-sys-font-size-200);
        }
    }

    &__meta-group {
        display: flex;
        align-items: center;
        gap: var(--eden-sys-space-200);
        padding-inline: var(--eden-sys-space-200);

        label {
            white-space: nowrap;

            @media print {
                font-size: var(--eden-sys-font-size-200);
            }
        }

        input {
            width: 100%;
            border: none;
            border-bottom: 1px solid var(--eden-sys-border-color);
            border-radius: 0;
        }
    }

    &__section-header {
        background-color: #{$eden-ref-neutral-0};
        color: #{$eden-ref-neutral-100};
        font-weight: var(--eden-sys-font-weight-bold);
        text-align: center;
        padding: var(--eden-sys-space-100);
        font-size: var(--eden-sys-font-size-200);
        text-transform: uppercase;
        margin-block-start: var(--eden-sys-space-150);

        &--small {
            font-size: var(--eden-sys-font-size-100);
        }
    }

    &__subsection-header {
        background-color: var(--_header-bg);
        font-weight: var(--eden-sys-font-weight-bold);
        text-align: center;
        padding: var(--eden-sys-space-100);
        text-transform: uppercase;
        border-inline: 1px solid var(--eden-sys-border-color);

        &--light {
            background-color: #{$eden-ref-neutral-100};
            color: var(--eden-sys-surface-content);
        }
    }

    thead {
        background-color: var(--_header-bg);
    }

    &__header-cell--white {
        background-color: #{$eden-ref-neutral-100};
    }

    &__row--auto-height {

        th,
        td {
            height: auto;
            padding-block: var(--eden-sys-space-100);
        }
    }

    &__separator {

        th,
        td {
            height: var(--eden-sys-space-200);

            @media print {
                background-color: var(--_cell-na-bg);
            }
        }

        &--dark {

            th,
            td {
                background-color: var(--_cell-na-bg);
                border-block: 1px solid #{$eden-ref-neutral-0} !important;
            }
        }
    }

    &__table-caption {
        --eden-sys-figure-caption-spacing-y: 0;

        padding: var(--eden-sys-space-200);
        border-inline: 1px solid var(--eden-sys-border-color);
    }

    @media print {
        --_model-font-weight: var(--eden-sys-font-weight-bold);

        &--provisorio,
        &--r05 {

            th,
            td {
                line-height: var(--_line-height-print);
            }
        }

        &--1a,
        &--r05 {
            --_content-font-size: var(--eden-sys-font-size-200);
        }

        &--provisorio {
            --_content-font-size: 13px;
        }

        &--1a {

            th,
            td {
                line-height: 1.1 !important;
            }
        }

        &--07 {
            .tes-c-footer input {
                border: none !important
            }
        }

        &--r05 {

            th,
            td {
                --eden-table-cell-padding-y: var(--eden-sys-space-150);
            }

        }

        &--r06 {
            --_content-font-size: 0.9375rem;

            thead {
                th {
                    font-weight: var(--eden-sys-font-weight-regular);
                }
            }


            th,
            td {
                line-height: var(--eden-sys-line-height-heading);
            }

            .tes-pnct__section-header {
                font-size: 0.9375rem;
            }

            .tes-pnct__caption {
                font-size: 0.90625rem;
                line-height: 1.3;
            }
        }

        &--r07 {
            th[scope="rowgroup"] {
                line-height: var(--eden-sys-line-height-heading);
            }
        }

        &--08 {
            --eden-sys-page-content-offset-top: 0;

            table {
                --eden-table-cell-height: 26.5px;
            }

        }

        &__gov {
            span {
                font-weight: var(--eden-sys-font-weight-bold);
            }
        }

        table,
        footer {
            width: 100%;
        }

        table {
            --_cell-na-bg: #757b80 !important;
            --_cell-na-bg: oklch(0.55 0.01 var(--eden-ref-primary-hue)) !important;
        }

        &__cell--multiline {
            line-height: 1.2
        }
    }
}