@use '../../abstracts' as *;

.tes-balancete {
    --_model-bg: #{$eden-ref-neutral-0};
    --_model-text-color: #{ $eden-ref-neutral-100 };
    --_fnm-cell-width: 60px;
    --_medicine-cell-width: 390px;
    --_default-cell-width: 85px;
    --_sf-cell-width: 100px;
    --_qty-authorized-cell-width: 112px;

    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-areas: "sidebar header"
        "sidebar table";

    &__header {
        grid-area: header;
        display: grid;
        grid-template-columns: 30px calc(30px + var(--_medicine-cell-width) + var(--_default-cell-width) * 7 + var(--_sf-cell-width)) calc(var(--_qty-authorized-cell-width) * 2);


        label {
            white-space: nowrap;
        }

        input {
            border: none;
            height: 100%;
        }
    }

    &__header-row {
        display: grid;
        grid-template-columns: calc(30px + var(--_medicine-cell-width)) calc(var(--_default-cell-width) * 3) var(--_sf-cell-width) repeat(2, var(--_default-cell-width)) 30px 22px 33px var(--_default-cell-width);

        border-bottom: 1px solid var(--eden-sys-border-color);
        min-height: var(--eden-sys-space-600);
    }

    &__model {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--_model-bg);
        color: var(--_model-text-color);
    }

    .tes-c-gov {
        padding: var(--eden-sys-space-100) var(--eden-sys-space-200);
    }

    &__title-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__number-group {
        display: flex;
        align-items: center;
    }

    &__title,
    &__label {
        font-size: var(--eden-sys-font-size-500);
        font-weight: var(--eden-sys-font-weight-bold);
        margin: 0 var(--eden-sys-space-150) 0 0;
    }

    &__number {
        border: 1px solid var(--eden-sys-border-color);
        text-align: center;
        font-weight: var(--eden-sys-font-weight-bold);
        font-size: var(--eden-sys-font-size-500);
        font-family: 'Courier New', Courier, monospace;
        color: var(--eden-sys-danger);
    }

    &__req-type {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: var(--eden-sys-space-100);
        border: 1px solid var(--eden-sys-border-color);
        border-inline-start: 0;

        input[type="checkbox"] {
            width: 20px;
            height: 20px;
            border: 1px solid var(--eden-sys-border-color);
            border-radius: var(--eden-sys-radius-100);
            cursor: pointer;
        }
    }

    &__req-type-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--eden-sys-space-200);
    }

    &__meta-group {
        display: flex;
        align-items: center;
        gap: var(--eden-sys-space-100);
        border-inline-start: 1px solid var(--eden-sys-border-color);
        padding-inline-start: var(--eden-sys-space-200);
    }

    &__label-box,
    &__input-box {
        display: flex;
        align-items: center;
        padding-inline-start: var(--eden-sys-space-200);
        border-inline-start: 1px solid var(--eden-sys-border-color);
    }

    &__input-box {
        padding: 0;

        input {
            text-align: center;
        }
    }

    table {
        grid-area: table;
    }

    thead th {
        font-weight: var(--eden-sys-font-weight-regular);
        line-height: var(--eden-sys-line-height-heading);
        padding-block: var(--eden-sys-space-100);
    }

    &__row-spacer {
        height: var(--eden-sys-space-100);
        border: none;
    }

    &__fnm,
    &__row-label {
        font-weight: var(--eden-sys-font-weight-bold);
    }

    &__row-label input {
        padding-inline: var(--eden-sys-space-200);
    }

    &__footer {
        padding-inline: var(--eden-sys-space-100);
        padding-block: var(--eden-sys-space-200) var(--eden-sys-space-400);
        min-height: 60px;
        display: grid;
        grid-template-columns: 761px 1fr;
    }

    &__signature {
        width: 200px;
        height: var(--eden-sys-space-500) !important;
        border-bottom: 1px solid var(--eden-sys-border-color) !important;
    }

    &__sidebar {
        grid-area: sidebar;
        border: 1px solid var(--eden-sys-border-color);
        border-right: none;

        padding-block-start: 365px;
    }

    &__sidebar-group {
        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    &__sidebar-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--eden-sys-space-200);

        label {
            font-weight: var(--eden-sys-font-weight-regular);
        }

        input {
            transform: rotate(-90deg);
            width: var(--eden-sys-space-400);
        }
    }

}