@use '../../abstracts' as *;

.tes-c-notes-editor {
    --_input-bg-focus: greenyellow;

    display: block;
    width: 100%;

    &__content {
        min-height: 100px;
        padding: var(--eden-sys-space-300);
        margin-block: var(--eden-sys-space-300);
        border: 1px solid var(--eden-sys-border-color-default);
        border-radius: var(--eden-sys-radius-100);
        font-size: var(--eden-sys-font-size-200);
        cursor: text;

        @media print {
            min-height: auto;
            padding: 0;
            border: none;
        }

        &:focus {
            outline: none;
            border-color: var(--eden-sys-color-primary);
            box-shadow: 0 0 0 2px var(--eden-sys-color-primary-alpha);
            background-color: var(--_input-bg-focus);
            border: 2px solid var(--eden-sys-primary);
        }

        &:empty::before {
            content: attr(data-placeholder);
            color: var(--eden-sys-surface-content-200);
            pointer-events: none;

            @media print {
                content: '';
            }
        }
    }
}