@use '../../abstracts' as *;

.tes-c-footer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-areas: "left center right";
    grid-column-gap: var(--eden-sys-spacing-md);
    grid-row-gap: var(--eden-sys-spacing-ms);
    padding-block: var(--eden-sys-spacing-ms);

    &--vertical {
        grid-template-rows: auto auto;
        grid-template-areas: 
        "left . ." 
        "center right ."
    }

    &__area {
        display: flex;
    }

    &__area--left   { grid-area: left; }
    &__area--center { grid-area: center; }
    &__area--right  { grid-area: right; }

    &__input {
        flex: 1;
        max-width: 385px;
    }

    &__input--date {
        max-width: 150px;
    }
}